default_stages: [pre-commit]
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: local
    hooks:
      - id: alejandra
        name: Alejandra
        description: This hook checks Nix files with Alejandra.
        entry: nix develop . -c bash -c 'for f in "$@"; do alejandra -q "$f"; done' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh
        description: This hook checks shell files with shfmt.
        entry: nix develop . -c bash -c 'for f in "$@"; do shfmt -w "$f"; done' --
        language: system
        types: [shell]
      - id: stylua
        name: Stylua
        description: This hook checks Lua files with Stylua.
        entry: nix develop . -c stylua
        language: system
        files: \.lua$
      - id: yamlfmt
        name: Yamlfmt
        description: This hook checks YAML files with yamlfmt.
        entry: nix develop . -c yamlfmt
        language: system
        types: [yaml]
      - id: gitlint
        name: Gitlint
        description: This hook checks git commit messages with gitlint.
        entry: nix develop . -c gitlint --staged --msg-filename
        language: system
        stages: [commit-msg]
      - id: gitleaks
        name: Gitleaks (staged)
        description: This hook checks the existence of secrets.
        entry: nix develop . -c gitleaks protect --staged --redact --no-banner --verbose
        language: system
        pass_filenames: false
      - id: gitleaks
        name: Gitleaks (full history)
        description: This hook checks the existence of secrets.
        entry: nix develop . -c gitleaks detect --redact --no-banner --verbose
        language: system
        pass_filenames: false
